.nav {
    width: 50vw;
    padding: 1em 3em;
    margin: 2rem auto;
    top: 1em;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px 5px rgba(var(--foreground-rgb), 0.3);
    border-radius: 20px;
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    flex-wrap: wrap;
}

.navbuttons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.navbutton {
    position: relative;
}

.navbutton::after {
    content: ''; /* Required for pseudo-element */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px; /* Adjust the height of the underline as needed */
    background-color: blue; /* Change the color of the underline as needed */
    transition: width 0.3s ease; /* Animation transition */
}
  
/* Define the hover effect to animate the underline */
.navbutton:hover::after {
    width: 100%; /* Expand the width of the underline */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 4rem;
}

.contentTitle {
    font-size: 2em;
    text-align: center;
}

.home {
    flex-wrap: wrap;
    gap: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home h1 {
    font-size: 2rem;
}