/* Div Mouse Follow */
.follow {
  position: fixed;
  top: -400px;
  left: -400px;
  z-index: -9999;
  width: 800px;
  height: 800px;
  border-radius: 50%;
  pointer-events: none;
  background: radial-gradient(
    circle,
    rgba(55, 0, 255, 0.08) 0%,
    rgba(55, 0, 255, 0.05) 25%,
    rgba(100, 50, 255, 0.025) 50%,
    rgba(55, 0, 255, 0) 70%
  );
  filter: blur(40px);
}

/* Content */
.content-body {
  display: grid;
}