@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

:root {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: grid;

  margin: 0;
  padding: 1rem;
  box-sizing: border-box;

  --foreground: 24,24,24;
  --background: 255,255,255;
  background-color: whitesmoke;
  color: #000;
  cursor: default;
}

body {
  margin: 0;
  padding: 2rem 0;
  box-sizing: border-box;
}

@media (max-width: 600px) {
  :root {
    padding: 0.25rem;
  }
  body {
    padding: 0.5rem 0;
  }
}